body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

/* Form Container */
.container {
  width: 250px;
  color: #f0f0f0;
  background-color: #1c1c1c;
  padding: 20px 25px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #c9c9c922;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

/* Form Heading */
h1 {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

/* Individual Input Container */
.individual-input-div-container {
  width: 230px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #282828;
}

input::placeholder {
  color: #f0f0f0d4;
  font-size: 12px;
}

/* Submit button */
button[type="submit"] {
  background-color: #f0f0f0; /* Green */
  color: #202020;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 20px;
}

/* Submit button hover */
button[type="submit"]:hover {
  background-color: #176fc7;
  color: #f0f0f0;
}

a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #666;
}

/* Container for both Facebook and Google Buttons */
.google-facebook-container {
  display: flex;
  justify-content: space-between;
}

/* Individual buttons for Google and Facebook */
.socialbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #f0f0f0;
  background-color: #585858;
  border: none;
  padding: 5px 21px;
  border-radius: 3px;
}

/* Orange BLURRED Color Circle Box */
.blurred-orange-box {
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, orangered, orangered);
  border-radius: 50%;
  box-shadow: 2px 1px 20px 20px orangered;
  opacity: 0.4;
  position: absolute;
  right: -60px;
  bottom: -60px;
}

/* Blue BLURRED Color Circle Box */
.blurred-blue-box {
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, #176fc7, #176fc7);
  border-radius: 50%;
  box-shadow: 2px 1px 20px 20px #176fc7;
  /* opacity: 0.6; */
  position: absolute;
  top: -80px;
  left: -80px;
}

/* Orange Color Circle Box */
.orange-box {
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, orangered, orange);
  border-radius: 50%;
  position: absolute;
  right: 430px;
  bottom: 60px;
  z-index: 1;
  opacity: 0.6;
}

/* Blue Color Circle Box */
.blue-box {
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, #176fc7, #176fc7);
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 410px;
  z-index: 1;
  opacity: 0.8;
}
